@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  font-family: 'Noto Sans', sans-serif;
}
.logo{
  
 
  padding: 20px;
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
  border-radius: 30px;
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-bar{
  width: 40%;
  border: none;
  padding: 15px;
}

.search-button{
  background-color: rgb(233, 129, 9);
  border: none;
  padding: 15px 20px ;
  color: white;
  border-radius: 5px;
}

.recipes{
  margin: auto;
  text-align: center;
  max-width: 500px;
  
}

.img{
  border-radius: 10px;
  
}
.title{
  color: sienna;
}



